.product-preview {
    background-color: lightgrey;
    /* border: 5px solid black; */
    width: 200px;
    height: 280px;
    border-radius: 20px;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.preview-info {
    background-color: pink;
    padding: 4px;
}

.preview-header {
    display: grid;
    grid-template-columns: 70% 30%;
}

.preview-product-title {
    /* background-color: khaki; */
    color: black;
    text-align: left;
    padding: 2px;
    font-size: 16px;
}

.preview-product-price {
    /* background-color: firebrick; */
    color: black;
    text-align: right;
    padding: 2px;
    font-size: 16px;
}

.preview-product-description {
    /* background-color: violet; */
    color: black;
    text-align: left;
    padding: 2px;
    font-size: 12px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
}