.user-listing {
    margin-right: 8px;
}

.user-listing-header {
    background-color: #D7FFD7;
    color: #175E15;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    padding: 10px 20px;
    border-radius: 10px;
}

.user-listing-item {
    background: rgba(215, 255, 215, 0.5);
    color: #175E15;
    margin-left: 4px;
    margin-right: 6px;
    padding: 10px 20px;
    border: rgba(220, 255, 219) 1px solid;
    
}