.user-listing {
    margin-top: 40px;
}

.user-listing-header {
    background: -webkit-linear-gradient(#5d5d5d, #010101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
    margin-bottom: 30px;
}

.user-listing-item {
    background: -webkit-linear-gradient(#5d5d5d, #010101);
    -webkit-background-clip: text;
    padding: 10px 10px 10px 0px;
    display: flex;
    font-size: 1.8vw;
}

.add-listing-link {
    text-decoration: none;
    color: #2f2f2f;
}

.add-listing-link:hover {
    text-decoration: none;
    color: #5d5d5d;
}

.product-img-source {
    width: 6vw;
    height: 6vw;
    border-radius: 2px;
}

.price {
    margin-top: 0.8vw;
    font-size: 1.75vw;
    color: #5d5d5d;
}