.wish-list-header {
    margin-top: 2em;
    font-size: 2.5vw;
}

.wishlist-items {
    height: 22vw;
    width: 22vw;
    margin-top: 1vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.wish-list-item-spacing {
    margin-top: 10px;
}

/* .liked-id-link {
    text-decoration: none;
    color: #cd8c8c;
}

.liked-id-link:hover {
    color: rgb(255, 190, 190);
} */

/* When screen width is narrower, adjust vertical spacing between
    the words Liked List and liked item product box grid. */
@media screen and (max-width: 1080px) {
    .wish-list-item-spacing {
        margin-top: 40px;
    }
}

@media screen and (max-width: 840px) {
    .wish-list-item-spacing {
        margin-top: 60px;
    }
}

@media screen and (max-width: 580px) {
    .wish-list-item-spacing {
        margin-top: 80px;
    }
}