.boilerplate-title {
    display: flex;
    font-size: 2vw;
    border-radius: 14px;
    justify-content: center;
    margin: 0 5px;
    width: 30vw;
    height: 6vw;    
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;
    box-decoration-break: clone;
}

.boilerplate-title div {
    display: flex;
    align-items: center;
    height: 5vw;
}