target/
.mvn-classpath
.classpath
.idea/
**.DS_Store**
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.settings/org.eclipse.jdt.ui.prefs