.boilerplate-header {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
}

.xButton {
    height: 4vw;
    filter: drop-shadow(2px 4px 0px rgb(160, 160, 160));
}

.xButton:active {
    filter: drop-shadow(1px 2px 0 rgb(169, 169, 169));
}

.title-link {
    text-decoration: none;
    color: #80acff;
}

/* When screen is narrower, button depth should decrease a bit. */
@media screen and (max-width: 710px) {
    .xButton {
        filter: drop-shadow(1px 2px 0px rgb(160, 160, 160));
    }

    .xButton:active {
        filter: drop-shadow(1px 2px 0 rgb(169, 169, 169));
    }
}