.product-buttons {
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* Override MUI boxshadow */
.product-buttons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.30) !important;
}

.left {
    padding: 3vw !important;
    color: #ec5e6f !important;
}

.repeat {
    padding: 3vw !important;
    color: #f5b748 !important;
}

.bookmark {
    padding: 3vw !important;
    color: #62b4f9 !important;
}

.right {
    padding: 3vw !important;
    color: #76e2b3 !important;
}