.product-card {
    position: relative;
    width: 600px;
    padding: 20px;
    /* Styling proportionate to viewport */
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.30);
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    /* Stack the cards on top of each other */
    position: absolute;
}

.product-card > h3 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.buttons {
    margin: 20px;
    display: flex;
    position: fixed;
    bottom: 10vh;
  }
  
  .buttons button {
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #9198e5;
    transition: 200ms;
    margin: 0 10px;
    font-weight: bolder;
    width: 160px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
  }
  
  .buttons button:hover {
    transform: scale(1.05);
  }