#root>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsWrapper {
    /* extend margin top and bottom to fill viewport */
    margin-top: 12vh;
    margin-bottom: 12vh;
    /* make items in wrapper responsive */
    
}

.cardContainer {
    width: 90vw;
    max-width: 380px;
    height: 495px;
    margin: 0;
}

.product-card {
    position: relative;
    width: 380px;
    background-position: center;
    height: 135px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.card-container {
    width: 90vw;
    max-width: 260px;
    height: 300px;
}

.swipe {
    /* Stack the cards on top of each other */
    position: absolute;
}

.price {
    /* position: absolute;
    right: 10px;
    top: 10px;
    color: white; */
    right: 0px;
    top: 30px;
    position: absolute;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px 0px 0px 5px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, "92A3FD", "9DCEFF");
}

.product-buttons {
    margin: 20px;
    display: flex;
    position: fixed;
    /* Center */
    justify-content: center;
    width: 30%;
    bottom: 16vh;
    justify-content: space-evenly;
    /* move left more */
    left: 33.4vw;
}

.swipe-to-get-started {
    display: flex;
    position: fixed;
    bottom: 10vh;
    left: 43vw;
}

/* Override MUI boxshadow */
.product-buttons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.30) !important;
}
  
.left {
    padding: 1.25rem !important;
    color: #ec5e6f !important;
    margin-left: 0px !important;
}

.repeat {
    padding: 1.25rem !important;
    color: #f5b748 !important;
}

.like {
    padding: 1.25rem !important;
    /* color: #62b4f9 !important; */
}

.right {
    padding: 1.25rem !important;
    color: #76e2b3 !important;
    margin-right: 0px !important;
}

.listing-container {
    margin: 20px;
    display: flex;
    position: fixed;
    /* Center */
    justify-content: center;
    width: 30%;
    bottom: 5vh;
    /* move left more */
    left: 33.4vw;
}

.listing-container .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.30) !important;
}

.new-listing {
    padding: 1.15rem !important;
    color: #c3c4d3 !important;
}