.profile-contents {
    margin: 7vw 7vw;
}

.first-profile-section {
    display: grid;
    grid-template-columns: 30% 70%;
}

.second-profile-section {
    margin-top: 4vw;
}

.profile-picture-source {
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
}

.username {
    font-size: 26px;
    margin-bottom: 12px;
}

.user-info {
    display: inline;
    background-color: #FEFFD7;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
}

.user-listings {
    display: grid;
    margin-top: 20px;
}

/* When screen width is narrower, widen the horizontal gap between the columns of the 1st section 
   so they're not squished. In addition, increase vertical gap between profile info section and wishlist. */
@media screen and (max-width: 710px) {
    .first-profile-section {
        display: grid;
        grid-template-columns: 35% 65%;
    }

    .second-profile-section {
        margin-top: 5vw;
    }
}